
*{
    box-sizing:border-box;
   }


html{
    scroll-behavior: smooth;
}

body{
    font-family:'monospace', sans-serif;
    margin: 0;
    padding: 0;
   background-color:#0c0c0c;
    
       }

.container{
        max-width:1400px;
        margin:auto;
         
        }

    header{
        background-color: rgb(0, 0, 0);
        box-shadow: 0 4px 10px rgba(128, 128, 128, 0.5); 
      
       
          
    }

    
  
       
      header .container{
        display:flex;
        flex-direction: column;
        align-items: center;
      padding: 20px 0;
     
       
    }
      
    header nav{
        display:flex;
        flex-direction:row;
        align-items:center;
        padding-bottom: 2px;
        
         }

  header a{
  padding:1px 9px;
  text-decoration:none;
  font-weight: bold;
  color:rgb(255, 253, 253);
  font-size: 12px;
}

header a:hover{
    color:rgb(40, 176, 255);
    
}




.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px; 
    margin-top:25px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
    min-width: 100%;
}

img {
    width: 100%;
    height: 100%;
}


section {
    background-color: rgb(0, 0, 0);
    margin-top: 25px;
    box-shadow: 0 4px 10px rgba(128, 128, 128, 0.5); 
    padding: 20px; 
    margin-bottom: 20px; 

}

.container {
    max-width: 400px;
    margin: 0 auto; 
}

p {
    font-size: 16px; 
    line-height: 1.5; 
    margin: 0; 
    color:white;
    font-family:'robot',sans-serif;
}




footer {
    background-color: #000000;
    color: white;
    padding: 10px 0; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 0; 
    color: rgb(255, 250, 250);
    font-family: 'monospace', sans-serif;
    font-size: small;
}

footer .container {
    height: auto; 
    display: flex;
    justify-content: center;
    padding: 1px 0; 
}

.logos-container {
    display: flex;
    justify-content: center;
}

    
    .logos {
        max-width: 35px;
        max-height: 35px;
        background-color: #000000;
        border-radius: 10%;
        transition: transform 0.5s;
    }


    
    .logos:hover {
        transform: scale(1.1);
    }


    
    .logos:hover {
        transform: scale(1.1);
    }





    @media (min-width: 720px) {
        header {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 125px;
            z-index: 1; /* Asegura que el header esté por encima de las imágenes */
            background-image: url("imagenes/germslogo-removebg-preview.png");
            background-size: auto 120px; /* Ancho deseado para el logotipo, altura automática */
            background-repeat: no-repeat; /* Evita la repetición de la imagen */
            background-position: 40px -8px;
            
        }
    
        header .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            z-index: 2; /* Asegura que el contenido del header esté por encima de las imágenes */
         
        }
    
        header nav {
            display: flex;
            padding-bottom: 0;
            margin-left:200px;
         
        }

        header a{
            font-size: 20px;
            margin-left:auto;
            margin-top:30px;
            margin-right:10px;
            
        }
    
        .carousel-container {
            width: 100%;
            overflow: hidden;
            position: relative;
            margin-top: 30px; /* Añade margen superior para dejar espacio para el header */
            
        }
    
        .carousel-track {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
    
        .carousel-slide {
            flex: 0 0 100%;
            min-width: 100%;
        }
    
        img {
            max-width: 65%;
            max-height: 80%;
            display: block;
            margin: 0 auto;
        }

    
        section {
            position: relative;
            top: -240px; /* Ajusta el valor negativo para acercar la sección a las imágenes */
          
        }  

        p {
            font-size: 16px; 
            line-height: 1.8; /* Ajusta el valor para estirar el texto */
            margin: 10px; 
            color: white;
            font-family: 'robot', sans-serif;
            text-align: justify; /* Ajusta el texto para justificarlo en lugar de centrarlo */
        }

        footer{
            margin-top:-190px;
        }

        .logos {
            max-width: 35px;
            max-height: 35px;
            background-color: #000000;
            border-radius: 10%;
            transition: transform 0.5s;
          
        }
        
    }
    